.avatar-container {
  flex: 0 0 280px;
  width: 280px;
  img#user_avatar {
    width: 280px;
  }
  @media screen and (max-width: 730px) {
    flex: 0 0 100%;
  }
}
p#user_description {
  flex: 0 0 calc(100% - 320px);
}
input#page-info {
  width: 120px;
  text-align: center;
}
